<a href="https://colab.research.google.com/github/18K41A0254/assingment-1/blob/master/assignment%3D1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:

a=int(input("enter the year\n"))
r={0:"monkey",1:"rooster",2:"dog",3:"pig",4:"rat",5:"ox",6:"tiger",7:"rabbit",8:"dragon",9:"snake",10:"horse",11:"sheep"}
v=a%12
print(r[v])

enter the year
2017
rooster

In [ ]:
2. A Quick Fox Transport Co. wants to develop an application for calculating amount based
on distance and weight of goods. The charges (Amount) to be calculated as per rates given
below.

In [19]:
dist=int(input("enter the distance\n"))
w=int(input("enter weight\n"))
if d>=500:
  if w>=100:
    amount=dist*5
  if w>=10 and w<=100:
    amount=d*6
  if w<7:
    amount=dist*7
else :
  if w>=100:
    amount=dist*8
  else :
    amount=dist*5    
print("amount to be charged",amount)
print("end")

enter the distance
520
enter weight
50
amount to be charged 3120
end

In [ ]:
The Entertainment Paradise
A theater in Delhi wants to develop a computerized Booking System. The theater offers
different types of seats. The Ticket rates are- Stalls- Rs. 625/-, Circle- Rs.750/-, Upper
Class- Rs.850/- and Box- Rs.1000/-. A discount is given 10% of total amount if tickets are
purchased on Cash. In case of credit card holders 5% discount is given.

In [26]:
seats=input("enter the type of seat\n")
s={"stalls":625,"circle":750,"upper class":850,"box":1000}
payment=input("enter payment")
p={"cash":0.1,"credit card":0.05}
cost=s[seats]-(s[seats]*p[payment])
print("cost of ticket:",cost)

enter the type of seat
circle
enter paymentcash
cost of ticket: 675.0

In [ ]:
Develop a program that calculates the energy needed to heat water from an initial
temperature to a final temperature. Your program should prompt the user to enter the
amount of water in kilograms and the initial and final temperatures of the water. The
formula to compute the energy is
Q = M * (finalTemperature – initialTemperature) * 4184.
where M is the weight of water in kilograms, temperatures are in degrees Celsius, and
energy Q is measured in joules. (L6)

In [32]:
m=int(input("enter the weight of water in kg\n"))
initialtemperature=int(input("enter the initial temperature\n"))
finaltemperature=int(input("enter the final temperature\n"))
q=m*(finaltemperature-initialtemperature)*4184
print("total energy consumed ",q,"j")

enter the weight of water in kg
100
enter the initial temperature
20
enter the final temperature
30
total energy consumed  4184000 j

In [ ]:
5. Develop a program that prompts user to enter month and print
a. “Winter ” - December ,January and February
b. “Spring” - March ,April and May
c. “Summer” --- June ,July, August
d. “Autumn ” -- September ,October, November

In [34]:
month=input("enter the month\n")
m={"january":"winter","february":"winter","march":"spring","april":"spring","may":"spring","june":"summer","july":"summer","august":"summer","september":"autumn","october":"autumn","november":"autumn","december":"winter"}
print(m[month])

enter the month
january
winter

In [ ]:
6. Body Mass Index

In [37]:
weight=float(input("enter weight in pounds\n"))
height=float(input("enter height in inches\n"))
BMI=(weight*0.45359237)/((height*0.0254)**2)
print("BMI is",BMI)
if BMI<18.5:
  print("underweight")
elif BMI>=18.5 and BMI<25.0:
  print("normal")
elif BMI>=25.0 and BMI<30.0:
  print("overweight")
elif BMI>=30.0:
  print("obese")
print("end")

enter weight in pounds
10
enter height in inches
5.3
BMI is 250.29176918446404
obese
end

In [ ]:
7. Write a program that reads an integer between 100 and 1000 and adds all the digits in the
integer ( ex: input 745 # output =16 (7+4+5) )

In [40]:
n=int(input("enter a number between 100 and 1000 :"))
sum=0
while(n>0):
  r=n%10
  sum=sum+r
  n=n//10
print(sum)

enter a number between 100 and 1000 :101
2